# User-specific files
*.suo
*.user

# Build results
out/

*.ilk
*.meta
*.obj
*.class
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.scc

# Visual C++ cache files
ipch/
*.aps
*.ncb

# Idea IntelliJ
.idea
*.iml
